force-app/main/default/flows/new_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_shop_to_list</name>
        <label>Add shop to list</label>
        <locationX>50</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>ShopNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Greeting</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>is_revenue_10</name>
        <label>is revenue &gt; 10</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Shops.Monthly_Revenue__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_shop_to_list</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <interviewLabel>new Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>new Flow</label>
    <loops>
        <name>Loop_Over_Shops</name>
        <label>Loop Over Shops</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_Shops</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>is_revenue_10</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Shops</name>
        <label>Get Shops</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Shops</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Corporation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Shop__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Greetings_Screen</name>
        <label>Greetings Screen</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Shops</targetReference>
        </connector>
        <fields>
            <name>Greeting</name>
            <fieldText>&lt;p&gt;{!recordid}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Greetings_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShopNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Loop_Over_Shops.Name</elementReference>
        </value>
    </variables>
</Flow>
